* {
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
}

h1 {
  font-size: 35px;
  margin: 40px 0;
}

nav {
  margin-left: auto;
  display: table-caption;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  color: #d1d1d1;
  text-decoration: none;
}

form {
  margin: 5rem auto;
  padding: 1rem;
  background: #ebebeb;
  border-radius: 6px;
  max-width: 500px;
}

input,
textarea {
  font-size: 1rem;
  margin: 8px 0;
  width: 100%;
  padding: 5px;
}

textarea {
  height: 200px;
}

button {
  font-size: 1rem;
  margin-top: 10px;
}

.container {
  max-width: 1100x;
  /* margin: 1rem auto; */
}
.navbar {
  margin-bottom: 20px;
}
.nav-link {
  padding-left: 0;
}

.navbar-dark .navbar-brand {
  font-size: 18px;
}

.form-error {
  background: #fbb;
  color: darkred;
  padding: 0.5rem 1rem;
}

select {
  margin: 5px 0;
}

.success {
  padding: 1rem;
  margin: 10px 0;
  background: green;
  color: white;
}

.breadcrumb {
  background: transparent;
  display: block !important;
}

.detail--page ol,
.edit--detail--page ol {
  width: 130px;
}
.breadcrumb a {
  color: darkred;
}

.logout--button {
  margin-top: 0;
  width: 80px;
}

.detail--page nav,
.edit--detail--page nav {
  padding: 0;
  background: transparent;
}

.detail--page ol,
.edit--detail--page ol {
  padding: 0;
  background: transparent;
}

/* Admin */

.pages .card-columns {
  column-count: 1;
}

.pages a,
.edit--pages a {
  color: #2c2c2c;
}

.card-body:hover {
  box-shadow: 0px 0.5px 0.5px 1px #000;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  nav {
    display: block;
  }
  nav a {
    padding: 5px 0;
  }

  .breadcrumb {
    padding-left: 0;
  }
}
